html body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    background: #effdff;
}

h1 {
    text-align: center;
    margin: 2em;
    color: #333;
}

.wrapper {
    width: 800px;
    margin: auto auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
    align-items: center;
}

.icon {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    margin:auto;
    transition: 200ms all;
}


.icon img {
    height: 50%;
    width: 50%;
    margin: 20%;
}

.bug {
    background: #92BC2C;
}

.dark {
    background: #595761;
}

.dragon {
    background: #0C69C8;
}

.electric {
    background: #F2D94E;
}

.fire {
    background: #FBA54C;
}

.fairy {
    background: #EE90E6;
}

.fighting {
    background: #D3425F;
}

.flying {
    background: #A1BBEC;
}

.ghost {
    background: #5F6DBC;
}

.grass {
    background: #5FBD58;
}

.ground {
    background: #DA7C4D;
}

.ice {
    background: #75D0C1;
}

.normal {
    background: #A0A29F;
}

.poison {
    background: #B763CF;
}

.psychic {
    background: #FA8581;
}

.rock {
    background: #C9BB8A;
}

.steel {
    background: #5695A3;
}

.water {
    background: #539DDF;
}
